<!DOCTYPE html>
%html
  %head
    %title FIXME: Application Title
    %link(rel='icon' href='/favicon.png')
    :javascript= authenticityToken = "#{form_authenticity_token}";

    = sprockets_include_tag
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'semantic_forms.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
      
  %body(id=params[:controller] + "_" + params[:action] class=params[:controller] + " " + params[:action]}
    #header
      =link_to image_tag("logo.png"), "/", :class => 'logo'
      .credentials
        -if current_user
          %p
            Logged in as:
            =link_to h(current_user.display_name), user_path(current_user)
            =user_display_tag(current_user)
            =link_to "Log out", user_session_path, 'data-remote-methed' => 'destroy'
    #content
      = flash[:notice]
      = yield
    #footer